<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<%= link_to "Create a new Post", new_post_path %>

<% @posts.each do |p| %>
  <h3><%= link_to p.title, post_path(p) %></h3>
  <p><%= p.content %></p>
  <hr>
<% end %>